@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 150px;
  /* Set same as footer's height */
}

* {
  box-sizing: border-box;
}

code {
  border-radius: 4px;
}

:root {
  --primary-color: #393e46;
  --secondary-color: #fd7014;
  --background-color: #222831;
  --light-background-color: #eeeeee;
  --text-color: #595959;
}

@layer components {
  .timeline__img {
    @apply w-32 h-32 flex justify-center items-center object-cover rounded-full shadow-md border-4 border-solid border-white xs:absolute md:mx-auto md:left-0 md:right-0;
    background-color: var(--light-background-color);
  }

  .timeline__container {
    @apply relative pt-2 xs:pt-0 xs:pl-34 md:ml-auto md:w-1/2 md:pl-20;
  }

  .timeline__container--left {
    @apply md:mr-auto md:ml-0 md:pl-0 md:pr-20;
  }

  .timeline__pointer {
    @apply absolute inset-0 left-14 h-4 w-4 transform rotate-45 bg-white xs:left-34 xs:top-14 md:left-18;
  }

  .timeline__pointer--left {
    @apply md:left-auto md:right-18;
  }

  .timeline__date {
    color: var(--secondary-color);
  }

  .timeline__bg {
    background-color: var(--light-background-color);
  }

  .navbar__item:hover {
    opacity: 0.6;
  }

  .navbar__item--active {
    @apply border-b-2;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .button__transition {
    transition: border 500ms, background-color 500ms, color 500ms;
    letter-spacing: 0.2em;
  }

  .button__transition:hover {
    @apply text-white;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }

  .footer {
    position: absolute;
    bottom: 0;
    height: 150px;
  }

  .line__clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line__clamp--project-content {
    min-height: 80px;
  }

  .line__clamp--project-title {
    min-height: 20px;
  }

  .line__clamp--project-tags {
    min-height: 70px;
  }

  .footer__background {
    background-color: var(--background-color);
  }

  .tag__filters:hover {
    @apply text-white;
    background-color: var(--primary-color);
  }

  .tag__filters--selected {
    @apply text-white;
    background-color: var(--primary-color);
  }

  @media only screen and (max-width: 640px) {
    .line__clamp--project-content {
      min-height: initial;
    }

    .line__clamp--project-title {
      min-height: initial;
    }

    .line__clamp--project-tags {
      min-height: initial;
    }
  }
}
